$transition-1: 300ms ease-in-out;
$transition-2: 0.15s ease-in;
$transition-3: 0.25s ease-out;

$polygon-1: polygon(90% 0, 100% 34%, 100% 100%, 10% 100%, 0 66%, 0 0);
$polygon-2: polygon(0 0, 100% 0%, 82% 100%, 0% 100%);
$polygon-3: polygon(0 0, 100% 0%, 100% 100%, 18% 100%);
$polygon-4: polygon(96% 0, 100% 36%, 100% 100%, 4% 100%, 0 66%, 0 0);