$raisin-black-1: #1f2029;
$raisin-black-2: hsl(231, 12%, 12%);
$raisin-black-3: hsl(228, 12%, 17%);
$eerie-black: #141419;
$light-gray: hsl(0, 0%, 80%);
$med-gray: #a3a3a3;
$platinum: #e5f0ff;
$xiketic: hsl(275, 24%, 10%);
$orange-light: #FB7813;
$orange: #FF6700;
$white: hsl(0, 0%, 100%);
$onyx: hsl(240, 5%, 26%);

$Medium-Spring-Green: #00ffaa;
$metalic-violet: #5b0698;
$electric-indigo: #5900ff;
$blue-berry: #4d76ff;

$neon-red: rgb(247, 33, 25);

$radial-electric-orange:
radial-gradient(circle, rgba(251,120,19,1) 0%, rgba(91,6,152,1) 96%, rgba(71,17,108,1) 100%);

$radial-electric-green:
radial-gradient(circle, rgba(0,255,170,1) 0%, rgba(91,6,152,1) 96%, rgba(71,17,108,1) 100%)
;